body {
  width: 600px;
  height: 400px;
  background-color: #0e0e10;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  text-align: center;
  font-size: 30px;
}

h2 {
  margin-top: 0px;
  font-size: 24px;
}

#logo {
  height: 50px;
  width: 50px;
  padding: 10px;
}

#logoPic {
  height: 40px;
  width: 40px;
}

.twitchLogo {
  height: 24px;
  width: 24px;
  margin-right: 8px;
}
#dropdown {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

#loading {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.tft-container,
.chess-container,
.dota-container,
.league-container {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.input {
  font-size: 20px;
  padding: 5px;
  margin: 5px;
}

.loginInput {
  font-size: 18px;
  padding: 5px;
  margin: 5px;
}

.signupInput {
  font-size: 18px;
  padding: 2px;
  margin: 2px;
}

.authButton {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-weight: 600;
  color: rgb(72, 76, 122);
  font-size: 14px;
  height: 38px;
  padding: 8px 24px;
  border-radius: 50px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
  margin: 4px;
}

.submit {
  font-size: 20px;
  margin: 5px;
}

.rankContainer {
  border: 1px solid rgb(0, 255, 221);
  background-color: #18181b;
  padding: 5px;
  height: 230px;
  overflow-y: auto;
}

.rankItem {
  padding: 2px;
  background-color: #efefef;
  color: #000;
  border-radius: 1px;
}

.save-button-container {
  text-align: center;
  margin-top: 10px;
}

.save-button {
  background-color: rgb(0, 184, 0);
  font-size: 20px;
}

#options-title {
  text-align: center;
  font-size: 30px;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.premium-banner {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally if there's enough space */
  font-size: 18px; /* Adjusted for better readability */
  font-weight: bolder;
  margin-right: auto; /* Center the banner and add some margin */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #888aff;
  color: #000000; /* White text color for contrast */
  padding: 5px 10px; /* Add some padding around the text and icon */
  border-radius: 20px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
  transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth transitions for hover effects */
}

.premium-banner:hover {
  transform: translateY(-2px); /* Slightly raise the banner on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Increase shadow for lifted effect */
}

.fa-star {
  color: gold;
}
.fa-trash,
.fa-arrows-rotate {
  padding: 4px;
  width: 12px;
  height: 12px;
  border-radius: 20px;
}
.fa-arrows-rotate {
  color: #4f52ff;
}

.premium-icon {
  height: 27px;
  width: 27px;
  margin-left: 5px;
}

.sub-icon {
  height: 18px;
  width: 18px;
  margin-left: 5px;
}

.sub-button {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header .info-button,
.header .settings-button,
.header .signout-button {
  margin-left: 5px;
}

.info-button,
.signout-button,
.settings-button {
  height: 35px;
  width: 35px;
  margin-left: auto;
  display: inline-block;
  outline: 0;
  border: 0;
  color: rgb(72, 76, 122);
  border-radius: 6px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
}

.sub-button {
  height: 35px;
  font-weight: 700;
  outline: 0;
  border: 0;
  color: rgb(72, 76, 122);
  border-radius: 6px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
}

.logo-and-title {
  display: flex;
  align-items: center;
  margin-top: -20px;
}

.button-group {
  display: flex;
  overflow-x: auto;
}

.button-container {
  display: flex;
}

.button {
  height: 200px;
  width: 150px;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
}

button:hover {
  cursor: pointer;
  box-shadow: 0 8px 22px 0 rgb(37 44 97 / 15%),
    0 4px 6px 0 rgb(93 100 148 / 20%);
}

.button img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.delete-button {
  text-align: center;
  background-color: rgb(216, 29, 29);
  font-size: 20px;
}

.container,
.previewContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#signinContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#signUpContainer {
  width: 370px;
  height: 370px;
  background-color: #505050;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.password-error {
  color: red;
  font-size: 16px;
}

.verify-email {
  color: rgb(0, 224, 19);
  font-size: 16px;
}

#signin-button {
  font-size: 22px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 100px;
}

.popup-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 560px;
  height: 370px;
  padding: 10px;
  background-color: #444654;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: auto;
}

.options-container {
  display: none;
  position: absolute;
  bottom: 0; /* Start from the bottom */
  left: 50%;
  transform: translate(-50%, 0); /* Remove vertical translation */
  z-index: 9999;
  width: 600px;
  height: 400px;
  padding: 10px;
  background-color: #0e0e10;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  overflow: auto;
}

#rankDropdownContainer select {
  width: 100%; /* Make the select boxes fill the container */
  padding: 8px;
  margin-bottom: 10px; /* Space between multiple selects or other elements */
  background-color: #333;
  color: white;
  border-radius: 4px;
  border: 1px solid #555; /* Subtle border */
}

#rankDropdownContainer select:focus {
  border-color: #06d; /* Highlight color when focused */
}

#rankDropdownContainer h2,
#rankDropdownContainer p {
  margin: 0 0 10px; /* Spacing between text elements */
}

/* Adjustments for specific elements if needed */
#rankDropdownContainer .option-header {
  margin-bottom: 15px; /* More space below the header */
}

#subImg {
  width: 65px;
  height: 65px;
}

#close-button,
#close-button2,
#close-button3 {
  color: red;
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  outline: 0;
  border: 0;
  border-radius: 6px;
  background-image: linear-gradient(180deg, #fff, #f5f5fa);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%),
    0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all 0.2s ease-out;
}

#checkout-button {
  font-size: 14px;
}

#checkout-container {
  align-items: center;
  left: 50%;
  margin-top: 10px;
}

#alert-message {
  display: none;
  text-align: center;
  color: red;
  font-size: 14px;
  font-weight: 300;
}

#license-key {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 22px;
  width: 300px;
}

.radio-container {
  font-size: 20px;
}

.checkbox-container {
  height: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.option-header {
  margin-top: 10px;
}
.thank-you-message {
  text-align: center;
}

p {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 200;
}

.lol-Image,
.tft-Image,
.val-Image,
.csgo-Image,
.dota-Image,
.apex-Image {
  height: 160px;
  width: 120px;
}

.authButton:hover,
.submit:hover,
.info-button:hover,
.signout-button:hover,
.settings-button:hover,
.sub-button:hover,
#signin-button:hover,
#close-button:hover,
#close-button2:hover,
#close-button3:hover {
  background-color: #e0e0e0; /* Example hover color, adjust as needed */
  color: #0e0e10; /* Adjust text color as needed */
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
